<link href="https://cdn.bootcss.com/pace/1.0.2/themes/green/pace-theme-flash.min.css" rel="stylesheet">
<style>
.pace .pace-progress{
    background: {{site.data.site.uiux.nprogress_color}} !important;
    height: 3px !important;
}
.pace .pace-progress-inner {
	box-shadow: 0 0 10px {{site.data.site.uiux.nprogress_color}}, 0 0 15px {{site.data.site.uiux.nprogress_color}} !important;
}
.pace .pace-activity {
	top : 19px;
	top : 120px;
    border-top-color: {{site.data.site.uiux.nprogress_color}} !important;
    border-left-color': '{{site.data.site.uiux.nprogress_color}} !important;
}

</style>
<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>