{% if site.data.site.lang == null or site.data.site.lang == "" %}
{% assign lang = site.data.lang.en-US %}
{% else %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% endif %}
<style>
.k-readtime, .k-readtime:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #4490e2 0%, #0c58ab 100%);
    border-left: 5px solid #ff387c;
    cursor: default;
    text-transform: none;
    text-overflow: ellipsis;
}
/*.k-readtime:hover{
    background: #c0ffee;
}*/
/*.k-readtime:active{
    background: #c0ffee !important;
}*/
</style>
{% assign words = content | strip_html | strip_newlines | size %}
{% if words < 360 %}
<a class="mdui-btn mdui-btn-block k-readtime">{{lang.readtime.one}} 1 {{lang.readtime.two}}</a>
{% else %}
<a class="mdui-btn mdui-btn-block k-readtime">{{lang.readtime.one}} {{ content | strip_html | strip_newlines | size | divided_by:360 | round}} {{lang.readtime.two}}</a>
{% endif %}
